
@{
    Layout = null;
}
@using MvcMovie.Library;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calc Andere Pagina Plus Koekjes</title>

</head>

<body>
    <h2>Andere pagina</h2><hr />
    Het resultaat van de bewerking is @ViewData[MyUtilities.SW_CalcAnderePagina_Resultaat].
</body>

</html>
